################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrderManagement/.vs/OrderManagement/DesignTimeBuild
